* {
  font-family: 'Open Sans', sans-serif;
  color: blue;
}

main {
  margin-left: 10vw;
  margin-right: 10vw;
}

main div {
  display: flex;
  flex-direction: row;
}

.imagerows{
  flex-direction: column;
  flex: auto;
  flex-wrap: wrap;

}



header {
    background-color: lightgray;
    color: teal;
}

nav h1 {
    margin: 10px;
    margin-left: auto%;
    padding: 10px;
    background-color: teal;
    color: darkgray;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.navlink {
  padding: 5px;
  font-size: large;
  border-bottom: 7px solid black;
  padding-bottom: 2px;
  text-decoration: none;
}

li {
    list-style: none;
    display: inline;
    text-decoration: none;

}

.bannerContainer {
  position: relative;
  text-align: center;
}

.banner {
  max-height: 100px;
  background-size:contain;
}

.bannertext {
  position:absolute;
  bottom: 15px;
  right: 30px;
  color: white;
  font-size: large;
}

.topics {
  margin-top: 5px;
  border-right: 5px solid black;
}

#borderalign {
margin-right: 11px;

  position: relative;
  left: 8px;
}

.topicsHeadings {
  text-align: right;
  padding-right: 5px;
}
/* 
.imageTopics {
  flex: 1 1 100px;
  margin-top: 10px;
  height: 100px;
}

.firstimage {
  padding-top: 20px;
height:25%;
background-size: contain;
} */

.imageContainer>*{
  flex-direction: row;
  width: 70vw;
  flex-wrap: wrap;
  border: 2px solid black;
}

.imageflex>*{
  flex: 1 1 auto;
}


/* .imagetext1 {
  position:absolute;
  top: 30%;
  color: black;
  font-size: large;
  background-color: white;
}

.imagetext2 {
  position:relative;
  right: 10px;
  bottom: 10px;
  color: black;
  font-size: large;
  background-color: white;
} */



.horiseon {
  background-image: url(./horiseonSEO.jpg);
width: 100%;
height: 200px;
background-size: cover;
}

span {
  height: 25%;
  position: relative;
  top: 120px;
  background-color: white;
}
.calculator{
  background-image: url(./calculator.webp);
  width: 50%;
  height: 200px;
  background-size: cover;
}
.pastel{
  background-image: url(./pastel.jpg);
  width: 50%;
  height: 200px;
  background-size: cover;
}
.led {
  background-image: url(./ledWall.jpg);
  width: 50%;
  height: 200px
  background-size: cover;
}
.surf {
  background-image: url(./surf.jpg);
  width: 50%;
  height: 200px;
  background-size: cover;
}



@media screen and (max-width: 768px) {
    /* Use flex-direction to stack the navbar, sidebar, and body */
    
    
    main,
    nav {
      flex-direction: column;
    }
    /* Make the sidebar stack below the body */

    /* Change the header background */
    header {
      background: #772014;
    }
    .topicsHeadings {
      text-align: left;
    }
    .topics {
      border-right: none;
      border-bottom: 5px solid black;
      padding-bottom: 0px;
      
    }
    /* Change the navbar and footer background */
    nav,
    footer {
      background-color: #bb8588;
    }
  }
